{# Services Component #}
<div class="container-fluid px-0 border-bottom">
    <div class="row g-0">
        <div class="col-6 col-md-4 col-lg-2 border-start border-end">
            <div class="p-4 text-center text-md-start">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <i class="fa fa-sync-alt fa-2x text-primary mb-2 mb-md-0"></i>
                    <div class="ms-md-4">
                        <h6 class="text-uppercase mb-1">{{ trans('common.free_return') }}</h6>
                        <p class="mb-0 small">{{ trans('common.free_return_desc') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end">
            <div class="p-4 text-center text-md-start">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <i class="fab fa-telegram-plane fa-2x text-primary mb-2 mb-md-0"></i>
                    <div class="ms-md-4">
                        <h6 class="text-uppercase mb-1">{{ trans('common.free_shipping') }}</h6>
                        <p class="mb-0 small">{{ trans('common.free_shipping_desc') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end">
            <div class="p-4 text-center text-md-start">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <i class="fas fa-life-ring fa-2x text-primary mb-2 mb-md-0"></i>
                    <div class="ms-md-4">
                        <h6 class="text-uppercase mb-1">{{ trans('common.support_24_7') }}</h6>
                        <p class="mb-0 small">{{ trans('common.support_24_7_desc') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end">
            <div class="p-4 text-center text-md-start">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <i class="fas fa-credit-card fa-2x text-primary mb-2 mb-md-0"></i>
                    <div class="ms-md-4">
                        <h6 class="text-uppercase mb-1">{{ trans('common.receive_gift') }}</h6>
                        <p class="mb-0 small">{{ trans('common.receive_gift_desc') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end">
            <div class="p-4 text-center text-md-start">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <i class="fas fa-lock fa-2x text-primary mb-2 mb-md-0"></i>
                    <div class="ms-md-4">
                        <h6 class="text-uppercase mb-1">{{ trans('common.secure_payment') }}</h6>
                        <p class="mb-0 small">{{ trans('common.secure_payment_desc') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end">
            <div class="p-4 text-center text-md-start">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <i class="fas fa-headset fa-2x text-primary mb-2 mb-md-0"></i>
                    <div class="ms-md-4">
                        <h6 class="text-uppercase mb-1">{{ trans('common.online_service') }}</h6>
                        <p class="mb-0 small">{{ trans('common.online_service_desc') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

